<section class="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="mt-5 font-weight-bold">You might want to go to</h5>
        <ul>
          <li><a routerLink="/" class="link"><i class="fas fa-chevron-right"></i> Home</a></li>
          <li><a routerLink="/browse" class="link"><i class="fas fa-chevron-right"></i> Browse Tasks</a></li>
          <li><a routerLink="/tasks" class="link"><i class="fas fa-chevron-right"></i> My Tasks</a></li>
          <li><a routerLink="/support" class="link"><i class="fas fa-chevron-right"></i> Contact Support</a></li>
          <li><a routerLink="/support" class="link"><i class="fas fa-chevron-right"></i> FAQ's</a></li>
        </ul>
      </div>
      <div class="col-md-8">
        <div class="text-center text-web mt-5">
          <i class="fas fa-sad-cry fa-5x"></i>
          <h1 class="display-1">404 OOPS!</h1>
          <h1>We can't seem to find the page you're looking  for </h1>
        </div>
      </div>
    </div>
  </div>
</section>
