<section class="footer">
  <footer>
    <div class="container">
      <div class="row">

        <div class="col-md">
          <h6>Company</h6>
          <ul class="list-unstyled">
            <li><a routerLink="about">About dgiini</a></li>
            <li><a routerLink="privacy">Privacy Policy</a></li>
            <li><a routerLink="toc">Terms of Service</a></li>
            <li><a routerLink="licences">Lending Licnses</a></li>
            <li><a routerLink="disclaimer">Disclaimers</a></li>
            <li><a routerLink="under-writting">Underwritting</a></li>
          </ul>
        </div>

        <div class="col-md">
          <h6>Discover</h6>
          <ul class="list-unstyled">
            <li><a routerLink="how-it-works">How it works?</a></li>
            <li><a routerLink="become-tasker">Become a Tasker</a></li>
            <li><a routerLink="refferal-terms">Referral Terms</a></li>
            <li><a routerLink="communication">Communications</a></li>
            <li><a routerLink="invite">Invite Friend</a></li>
          </ul>
        </div>

        <div class="col-md">
          <h6>Find Tasks</h6>
          <ul class="list-unstyled">
            <li><a routerLink="browse">US Jobs</a></li>
            <li><a routerLink="browse">Canada Jobs</a></li>
            <li><a routerLink="browse">UK Jobs</a></li>
            <li><a routerLink="browse">Emplois in Fnce</a></li>
            <li><a routerLink="browse">Jobs in Deuts</a></li>
            <li><a routerLink="browse">Vacatures China</a></li>
          </ul>
        </div>

        <div class="col-md">
          <h6>Get Help</h6>
          <ul class="list-unstyled">
            <li><a routerLink="support">FAQ's</a></li>
            <li><a routerLink="support">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-md col-sm-12">
          <h6 class="mb-3">Discover Our App</h6>
          <a routerLink="/">
            <img src="../../assets/img/app_store.png" class="float-left" alt="Get App on App Store">
          </a>
          <a routerLink="/">
            <img src="../../assets/img/play_store.png" class="float-right" alt="Get App on Play Store">
          </a>

          <div class="clearfix"></div>
          <h6 class="mt-4">Follow Us</h6>
          <div class="social-icons">
            <a href='#'><i class="fab fa-facebook-f"></i></a>
            <a href='#'><i class="fab fa-twitter"></i></a>
            <a href='#'><i class="fab fa-linkedin"></i></a>
            <a href='#'><i class="fab fa-pinterest"></i></a>
            <a href='#'><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <!-- Grid row -->

      </div>
    </div>
  </footer>
</section>

<!-- Copyright -->
<div class="footer-copyright py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <a routerLink="/">
          <img src="../../assets/img/logo.png" class="img-responsive footer-logo" alt="dgiini logo">
        </a>
      </div>
      <div class="col-md-6">
        <p class="m-0 pt-1">© 2020 dgiini All rights reserved. Designed by dgiini inc.</p>
      </div>
      <div class="col-md-4">
        <p class="m-0 pt-1 text-md-right">Version : 1.0</p>
      </div>
    </div>
  </div>
</div>
<!-- End Copyright -->
    
<!-- Post Task Modal -->
<div class="modal fade" id="postTaskModal">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body">
        <h4 class="modal-title text-web font-weight-bold mb-2">
          <i class="fas fa-pen"></i> Post Task <span #postTaskProgressText class="float-right task-percentage">16%</span>
        </h4>
        <div class="progress" style="height:7px">
          <div #postTaskProgressBar class="progress-bar bg-web" style="width:20%;height:7px"></div>
        </div>

        <div class="post-task-form pt-3">
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane container p-0 active" id="post-task-step-1">
              <div class="form-group mb-2">
                <label for="task-title">What do you need done?</label>
                <input type="text" class="form-control" id="task-title" placeholder="Task Title">
              </div>
              <div class="form-group mb-2">
                <label for="task-details">What are the details?</label>
                <textarea class="form-control" rows="5" id="task-details" placeholder="Task Details"></textarea>
              </div>
              <div class="form-group">
                <label for="task-category">Select Category</label>
                <select class="form-control" id="task-category">
                  <option value="0" disabled>-- Select Category --</option>
                  <option value="Cleaning">Cleaning</option>
                  <option value="Gardening">Gardening</option>
                  <option value="Handy Man">Handy Man</option>
                  <option value="Furniture Assembly">Furniture Assembly</option>
                  <option value="Snow Plowing">Snow Plowing</option>
                  <option value="Child Care">Child Care</option>
                  <option value="Moving">Moving</option>
                </select>
              </div>
            </div>
            <div class="tab-pane container p-0 fade" id="post-task-step-2">
              <p class="font-weight-bold">Attachments (Optional)</p>
              <div class="mb-2">
                <label for="">Uploaded Images</label>
                <div class="clearfix"></div>
                <div class="img d-inline">
                  <i class="fas fa-times"></i>
                  <img src="../../assets/img/preview.png" class="border" alt="Task Img">
                </div>
                <div class="img d-inline">
                  <i class="fas fa-times"></i>
                  <img src="../../assets/img/preview.png" class="border" alt="Task Img">
                </div>
                <div class="img d-inline">
                  <i class="fas fa-times"></i>
                  <img src="../../assets/img/preview.png" class="border" alt="Task Img">
                </div>
                <div class="img d-inline">
                  <i class="fas fa-times"></i>
                  <img src="../../assets/img/preview.png" class="border" alt="Task Img">
                </div>
              </div>
              <div class="form-group mb-2 files">
                <label for="task-drag-image">Upload Image</label>
                <input type="file" accept="image/*" class="form-control" id="task-drag-image">
              </div>
            </div>
            <div class="tab-pane container p-0 fade" id="post-task-step-3">
              <div class="border p-2 pt-1 pb-1 rounded-lg mb-2">
                <p class="m-0 text-web font-weight-bold"><i class="fas fa-info-circle"></i> Note</p>
                <p class="m-0 text-muted">Address will be kept confidential until task is assigned to tasker</p>
              </div>

              <div class="form-group mb-2">
                <label for="task-street">Street</label>
                <input type="text" class="form-control" id="task-street" placeholder="Street">
              </div>

              <div class="form-row">
                <div class="col">
                  <div class="form-group mb-2">
                    <label for="task-city">City</label>
                    <input type="text" class="form-control" id="task-city" placeholder="City">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group mb-2">
                    <label for="task-state">State</label>
                    <input type="text" class="form-control" id="task-state" placeholder="State">
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <div class="form-group mb-2">
                    <label for="task-zip">Zip Code</label>
                    <input type="text" class="form-control" id="task-zip" placeholder="Zip Code">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group mb-2">
                    <label for="task-country">Country</label>
                    <input type="text" class="form-control" id="task-country" placeholder="Country">
                  </div>
                </div>
              </div>

            </div>

            <div class="tab-pane container p-0 fade" id="post-task-step-4">
              <p class="font-weight-bold">When you want it done?</p>
              <div class="form-group mb-2">
                <label for="task-date">Expected Task Completion Date</label>
                <input type="date" class="form-control" id="task-date" placeholder="Enter Here">
              </div>
              <div class="form-group mb-2">
                <label for="task-time">Expected Task Completion Time</label>
                <input type="time" class="form-control" id="task-time" placeholder="Enter Here">
              </div>
            </div>
            <div class="tab-pane container p-0 fade" id="post-task-step-5">
              <p class="font-weight-bold">How do you need it?</p>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio" checked> Total
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio"> Hourly
                </label>
              </div>
              <div class="form-group mb-2 mt-2">
                <label for="task-amount">Amount</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-dollar-sign text-web"></i></span>
                  </div>
                  <input type="number" class="form-control" placeholder="Amount" id="task-amount">
                  <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                  </div>
                </div>
              </div>
              <div class="form-group mb-2">
                <label for="task-hours">How long it will take?</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-clock text-web"></i></span>
                  </div>
                  <input type="number" class="form-control" placeholder="Hours" id="task-hours">
                  <div class="input-group-append">
                    <span class="input-group-text">hours</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane container p-0 fade" id="post-task-step-6">
              <p class="font-weight-bold">Confirm Details</p>
              <p class="m-0 font-weight-bold">Task Title</p>
              <p>Task Name</p>
              <p class="m-0 font-weight-bold">Task Description</p>
              <p>Task Description</p>
              <p class="m-0 font-weight-bold">Address</p>
              <p>Street, City, State, Zip Code, Country</p>
              <p class="m-0 font-weight-bold">Expected Completion</p>
              <p>Date & Time</p>
              <p class="m-0 font-weight-bold">Rate</p>
              <p>Hourly, 100.00 $, 7-hours</p>
            </div>
          </div>
        </div>


      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button #postTaskBackBtn type="button" class="btn btn-primary back-btn d-none" (click)="PreviousTab()"><i
            class="fas fa-arrow-left"></i> Back</button>
        <button #postTaskNextBtn type="button" class="btn btn-web next-btn" (click)="NextTab()">Continue <i
            class="fas fa-arrow-right"></i></button>
        <button #postTaskPostBtn type="button" class="btn btn-web next-btn post-task-btn d-none"><i
            class="fas fa-pen"></i> Post Task</button>
      </div>

    </div>
  </div>

</div>
<!-- End Post Task Modal -->


