.page-wrapper .dginni-box .support .card-header{
    padding: 1px 1px;
    background-color: white;
    border-left:4px solid var(--theme-color);
}
.page-wrapper .dginni-box .support .card-header .btn-link{
    color: var(--theme-color);
    padding-bottom: 10px;
}
.page-wrapper .dginni-box .support .card-header .btn-link.collapsed{
    color: black !important;
    padding-bottom: 10px;
}

.page-wrapper .dginni-box .support .card{
    border-radius: 0px !important;
    margin-bottom: 10px;
    -webkit-box-shadow: 5px 5px 10px -7px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px -7px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px -7px rgba(0,0,0,0.5);
}

.page-wrapper .dginni-box .support .card .card-body{
    border-left:4px solid var(--theme-color);
}

.contact-form .tab-pane{
    position: relative;
    height: 350px;
    overflow: hidden;
}

.contact-form .tab-pane.active {
    animation: slide-down 1s ease-in-out;
}