<section class="page-wrapper">
  <div class="page-heading text-white">
    <div class="container">
      <h3>Contact Support</h3>
      <p>dgiini is always there to entertain their customer's problem.</p>
      <i class="far fa-question-circle shadow-icon"></i>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="dginni-box mt-3">
          <h4 class="text-web">Frequently Asked Question</h4>
          <div class="border web-border mb-3"></div>
          <div class="accordion support" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    What is dgiini?
                  </a>
                </h2>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Getting started on dginni.com
                  </a>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Tips for new tasker
                  </a>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
                    aria-expanded="true" aria-controls="collapseOne">
                    I forget my password
                  </a>
                </h2>
              </div>

              <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Common Scam warning signs you should avoid
                  </a>
                </h2>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
                    aria-expanded="false" aria-controls="collapseSix">
                    How do i get paid?
                  </a>
                </h2>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven"
                    aria-expanded="false" aria-controls="collapseSix">
                    Verifying my payment method
                  </a>
                </h2>
              </div>
              <div id="collapseSeven" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight"
                    aria-expanded="false" aria-controls="collapseSix">
                    Adding/Removing Skills
                  </a>
                </h2>
              </div>
              <div id="collapseEight" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine"
                    aria-expanded="false" aria-controls="collapseSix">
                    Setting up security phone number
                  </a>
                </h2>
              </div>
              <div id="collapseNine" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen"
                    aria-expanded="false" aria-controls="collapseSix">
                    Reporting users for violation
                  </a>
                </h2>
              </div>
              <div id="collapseTen" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                  aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
          <!--End Accordion-->
        </div>
        <!--End dgiini Box-->

      </div> <!-- End Col-md-9 -->

      <div class="col-md-3">
        <div class="dginni-box mt-3 text-center">
          <i class="fas fa-question-circle fa-4x text-web"></i>
          <p class="text-web mt-2">
            Still have questions? <br>
            Our awesome Customer Support Team is ready to assist you.
          </p>
          <button class="btn btn-outline-web" data-toggle="modal" data-target="#contactModal">Contact Now</button>
        </div>
      </div>
    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section>

<!-- Post Task Modal -->
<div class="modal fade" id="contactModal">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body">
        <h4 class="modal-title text-web font-weight-bold mb-2">
          <i class="fas fa-question-circle"></i> Contact Us <span id="contactProgressText" class="float-right task-percentage">33%</span>
        </h4>
        <div class="progress" style="height:7px">
          <div id="contactProgressBar" class="progress-bar bg-web" style="width:33%;height:7px"></div>
        </div>

        <div class="contact-form pt-3">
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane container p-0 active" id="step-1">
              <div class="tab-pane-content">
                <h4 class="mt-5 mb-5 text-center">
                  Hi! We'll help you with your issue.<br>
                  What is it about?
                </h4>

                <div class="form-group mb-2">
                  <label for="contact-issue-category">I have an issue with</label>
                  <select class="form-control" name="" id="contact-issue-category">
                    <option value="" readonly>Select an Issue Category</option>
                    <option value="">Account Issue</option>
                    <option value="">Login Issue</option>
                    <option value="">Bidding on Task</option>
                    <option value="">Complete My Profile</option>
                    <option value="">dgiini Service</option>
                    <option value="">Issue With Tasker</option>
                    <option value="">Issue With Client</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="tab-pane container p-0 fade" id="step-2">
              <div class="">
                <h4 class="mt-5 mb-5 text-center">
                  Hi! We'll help you with your issue.<br>
                  But first we need further details.
                </h4>

                <div class="form-group mb-2">
                  <label for="contact-issue-category">More specifically about</label>
                  <select class="form-control" name="" id="contact-issue-category">
                    <option value="" readonly>Select an Issue Sub-Category</option>
                    <option value="">Sub Category 1</option>
                    <option value="">Sub Category 2</option>
                    <option value="">Sub Category 3</option>
                    <option value="">Sub Category 4</option>
                    <option value="">Sub Category 5</option>
                    <option value="">Sub Category 6</option>
                    <option value="">Sub Category 7</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="tab-pane container p-0 fade" id="step-3">
              <div class="">
                <h4 class="mt-5 mb-5 text-center">
                  Please explain your issue to us.<br>
                  So, we can help you accordingly
                </h4>

                <div class="form-group mb-2">
                  <label for="contact-issue-details">Please explain your issue to us</label>
                  <textarea name="" id="contact-issue-details" class="form-control" cols="30" rows="6"
                    placeholder="Type Here"></textarea>
                </div>
              </div>
            </div>
            <div class="tab-pane container p-0 fade" id="step-4">
              <div class="">
                <div class="alert alert-success">
                  <strong><i class="fas fa-check"></i> Success!</strong> You message sent successfully.
                </div>
                <h4 class="mt-5 mb-5 text-center">
                  Thankyou so much for taking your time.
                  Soon our agent will reply you via mail
                  to help you solve you issue.
                </h4>

              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="contactBackBtn" class="btn btn-primary d-none" (click)="PreviousContactTab()"><i class="fas fa-arrow-left"></i> Back</button>
        <button type="button" id="contactNextBtn" class="btn btn-web" (click)="NextContactTab()">Continue <i class="fas fa-arrow-right"></i></button>
        <button type="button" id="contactSendMsg" class="btn btn-web next-btn  d-none" (click)="NextContactTab()"><i class="fas fa-paper-plane"></i> Send Message</button>
      </div>

    </div>
  </div>

</div>

