@import "../../colors.css";
.page-wrapper .dginni-box .about-icons{
    width:40px;
    height:40px;
    border: 1px solid var(--theme-color);
    color: white;
    background-color: var(--theme-color);
    border-radius: 999px;
    padding:5px 12px;
    font-size:30px
}

.page-wrapper .dginni-box.about-section .leader-profile{
    border:1px solid var(--golden-color);
    padding: 10px 10px;
    border-radius: 5px
}

.page-wrapper .dginni-box.about-section .leader-profile img{
    width:150px;
    height:150px;
    border-radius: 999px;
    border: 1px solid var(--golden-color)

}