.page-wrapper .dginni-box.charts .badge{
    color: transparent;
    width:10px;
    height:10px;
    border-radius: 999px;
    position: absolute;
    margin-left: 0px !important;
    margin-top:4px;
}
.page-wrapper .dginni-box.charts span{
    margin-left: 15px;
}

.page-wrapper .dginni-box.charts canvas{
    width: 100%;
}