<section class="page-wrapper">
  <div class="page-heading text-white">
    <div class="container">
      <h3>Financial Dashboard</h3>
      <p>Monitor your financial stats while using dgiini.</p>
      <i class="fas fa-balance-scale-left shadow-icon"></i>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-4">

        <div class="dginni-box mt-4">
          <h5 class="heading text-dark">
            Total earnings
          </h5>
          <div class="border mt-3 mb-3"></div>
          <div class="content text-center">
            <h2 class="text-web font-weight-bold">$ 3,134.43</h2>
            <p class="text-muted">YOUR TOTAL EARNINGS SINCE JOINING DGIINI</p>
            <hr>
            <h2 class="text-web font-weight-bold">$ 600.23</h2>
            <p class="text-muted">YOUR TOTAL EARNINGS FROM THE PAST 30 DAYS</p>
          </div>
        </div>

        <div class="dginni-box scroll mt-4">
          <h5 class="heading text-dark">
            Earning Per Client
          </h5>
          <div class="border mt-3 mb-3"></div>
          <div class="content">
            <p class="m-0 mt-1 mb-1">
              <span class="badge badge-warning">1</span> Client Name
              <span class="float-right font-weight-bold"><i class="fas fa-dollar-sign"></i> 600</span>
            </p>
            <hr class="m-0">
            <p class="m-0 mt-1 mb-1">
              <span class="badge badge-secondary">2</span> Client Name
              <span class="float-right font-weight-bold"><i class="fas fa-dollar-sign"></i> 520</span>
            </p>
            <hr class="m-0">
            <p class="m-0 mt-1 mb-1">
              <span class="badge badge-secondary">3</span> Client Name
              <span class="float-right font-weight-bold"><i class="fas fa-dollar-sign"></i> 433</span>
            </p>
            <hr class="m-0">
            <p class="m-0 mt-1 mb-1">
              <span class="badge badge-secondary">4</span> Client Name
              <span class="float-right font-weight-bold"><i class="fas fa-dollar-sign"></i> 311</span>
            </p>
            <hr class="m-0">
            <p class="m-0 mt-1 mb-1">
              <span class="badge badge-secondary">5</span> Client Name
              <span class="float-right font-weight-bold"><i class="fas fa-dollar-sign"></i> 210</span>
            </p>
            <hr class="m-0">
            <p class="m-0 mt-1 mb-1">
              <span class="badge badge-secondary">6</span> Client Name
              <span class="float-right font-weight-bold"><i class="fas fa-dollar-sign"></i> 200</span>
            </p>
            <hr class="m-0">
            <p class="m-0 mt-1 mb-1">
              <span class="badge badge-secondary">7</span> Client Name
              <span class="float-right font-weight-bold"><i class="fas fa-dollar-sign"></i> 190</span>
            </p>
            <hr class="m-0">
            <p class="m-0 mt-1 mb-1">
              <span class="badge badge-secondary">8</span> Client Name
              <span class="float-right font-weight-bold"><i class="fas fa-dollar-sign"></i> 100</span>
            </p>
        
          </div>
        </div>

      </div>

      <div class="col-md-8">
        <div class="dginni-box charts text-dark mt-4">
          <h5 class="heading text-dark">
            Earned per Month
          </h5>
          <div class="border mt-3 mb-3"></div>
          <canvas id="earning_per_month"></canvas>
        </div>

        <div class="dginni-box chart-finance charts mt-4">
          <h5 class="heading text-dark font-weight-bold">
            Profit & Loss
          </h5>
          <div class="border mt-3 mb-3"></div>
          <canvas id="profit_loss"></canvas>
        </div>

        <div class="dginni-box chart-finance charts mt-4">
          <h5 class="heading text-dark font-weight-bold">
            Quick Stats
          </h5>
          <div class="border mt-3 mb-3"></div>
          <div class="content">
            <div class="d-flex">
              <div class="p-2 flex-fill border-right">
                <h5>Tasks Awarded</h5>
                <div class="border border-danger p-2 mb-2 text-center rounded-lg">
                  <h3 class="text-danger">4</h3> Past 30 Days
                </div>
                <div class="border border-danger p-2 mb-2 text-center rounded-lg">
                  <h3 class="text-danger">13</h3> Overall
                </div>
              </div>
              <div class="p-2 flex-fill border-right">
                <h5>Tasks In Progess</h5>
                <div class="border border-danger p-2 mb-2 text-center rounded-lg">
                  <h3 class="text-danger">300 $</h3> 3 Tasks
                </div>
              </div>
              <div class="p-2 flex-fill">
                <h5>Completion Rate</h5>
                <div class="border border-danger p-2 mb-2 text-center rounded-lg">
                  <h3 class="text-danger">100%</h3> Completion Rate
                </div>
              </div>
            </div>
          </div>
        </div>
      
      </div>

      <div class="col-md-6">
        

      </div> <!-- End Col-md-6 -->

      

      <div class="col-md-8">
        

      </div> <!-- End Col-md-8 -->


    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section>