<section class="page-wrapper">
  <div class="page-heading text-white">
    <div class="container">
      <h3>Transaction History</h3>
      <p>Monitor your Transactions while using dgiini.</p>
      <i class="fas fa-exchange-alt shadow-icon"></i>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 transactions">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs mt-4">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">All Transaction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu0">Withdrawl</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Earned</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Pending Funds</a>
          </li>
        </ul>
        <div class="dginni-box transactions mt-3">


          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane container active" id="home">
              <h5 class="font-weight-bold text-web">All Transactions</h5>
              <div class="border mb-2 web-border"></div>
              <table class="table table-hover">
                <thead class="bg-web text-white">
                  <tr>
                    <th>Date</th>
                    <th>Transaction</th>
                    <th>Invoice</th>
                    <th>Amount</th>
                    <th>Currency</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Received payment from [CLIENT-NAME] for task [TASK-NAME] (USD)</td>
                    <td><a href="#"><i class="fas fa-file text-primary"></i> Invoice</a></td>
                    <td>100 $</td>
                    <td>USD</td>
                  </tr>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Withdrawl 100$ to Bank [Bank-Name]-[Acoount Number] 1234-XXXX-XXXX-XXXX</td>
                    <td><a href="#"><i class="fas fa-file text-primary"></i> Invoice</a></td>
                    <td>100 $</td>
                    <td>USD</td>
                  </tr>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Payment has been BLOCKED due to the dispute from client for task [TASK-NAME]</td>
                    <td><a href="#"><i class="fas fa-file text-primary"></i> Invoice</a></td>
                    <td>100 $</td>
                    <td>USD</td>
                  </tr>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Paid payment to [TASKER-NAME] for task [TASK-NAME] (EUR)</td>
                    <td><a href="#"><i class="fas fa-file text-primary"></i> Invoice</a></td>
                    <td>100 $</td>
                    <td>EUR</td>
                  </tr>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Deposited Amount of 100$ for task [TASK-NAME]</td>
                    <td><a href="#"><i class="fas fa-file text-primary"></i> Invoice</a></td>
                    <td>100 $</td>
                    <td>USD</td>
                  </tr>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Received payment from [CLIENT-NAME] for task [TASK-NAME] (CAD)</td>
                    <td><a href="#"><i class="fas fa-file text-primary"></i> Invoice</a></td>
                    <td>100 $</td>
                    <td>CAD</td>
                  </tr>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Received payment from [CLIENT-NAME] for task [TASK-NAME] (EUR)</td>
                    <td><i class="fas fa-file text-primary"></i> Invoice</td>
                    <td>100 $</td>
                    <td>EUR</td>
                  </tr>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Received payment from [CLIENT-NAME] for task [TASK-NAME] (USD)</td>
                    <td><i class="fas fa-file text-primary"></i> Invoice</td>
                    <td>100 $</td>
                    <td>USD</td>
                  </tr>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Received payment from [CLIENT-NAME] for task [TASK-NAME] (CAD)</td>
                    <td><i class="fas fa-file text-primary"></i> Invoice</td>
                    <td>100 $</td>
                    <td>CAD</td>
                  </tr>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Received payment from [CLIENT-NAME] for task [TASK-NAME] (EUR)</td>
                    <td><i class="fas fa-file text-primary"></i> Invoice</td>
                    <td>100 $</td>
                    <td>EUR</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane container fade" id="menu0">
              <h5 class="font-weight-bold text-web">Withdrawl</h5>
              <div class="border mb-2 web-border"></div>
              <table class="table table-hover">
                <thead class="bg-web text-white">
                  <tr>
                    <th>Date</th>
                    <th>Transaction</th>
                    <th>Invoice</th>
                    <th>Amount</th>
                    <th>Currency</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Withdrawl 100$ to Bank [Bank-Name]-[Acoount Number] 1234-XXXX-XXXX-XXXX</td>
                    <td><a href="#"><i class="fas fa-file text-primary"></i> Invoice</a></td>
                    <td>100 $</td>
                    <td>USD</td>
                  </tr>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Withdrawl 100$ to Bank [Bank-Name]-[Acoount Number] 1234-XXXX-XXXX-XXXX</td>
                    <td><a href="#"><i class="fas fa-file text-primary"></i> Invoice</a></td>
                    <td>100 $</td>
                    <td>USD</td>
                  </tr>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Withdrawl 100$ to Bank [Bank-Name]-[Acoount Number] 1234-XXXX-XXXX-XXXX</td>
                    <td><a href="#"><i class="fas fa-file text-primary"></i> Invoice</a></td>
                    <td>100 $</td>
                    <td>USD</td>
                  </tr>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Withdrawl 100$ to Bank [Bank-Name]-[Acoount Number] 1234-XXXX-XXXX-XXXX</td>
                    <td><a href="#"><i class="fas fa-file text-primary"></i> Invoice</a></td>
                    <td>100 $</td>
                    <td>USD</td>
                  </tr>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Withdrawl 100$ to Bank [Bank-Name]-[Acoount Number] 1234-XXXX-XXXX-XXXX</td>
                    <td><a href="#"><i class="fas fa-file text-primary"></i> Invoice</a></td>
                    <td>100 $</td>
                    <td>USD</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane container fade" id="menu1">
              <h5 class="font-weight-bold text-web">Earned</h5>
              <div class="border mb-2 web-border"></div>
              <table class="table table-hover">
                <thead class="bg-web text-white">
                  <tr>
                    <th>Date</th>
                    <th>Client Name</th>
                    <th>Task</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Full Name</td>
                    <td>Task Title</td>
                    <td>100$</td>
                    <td>Task Description</td>
                    <td><span class="badge badge-success">Received</span></td>
                    <td><button class="btn btn-web btn-sm">View Invoice</button></td>
                  </tr>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Full Name</td>
                    <td>Task Title</td>
                    <td>100$</td>
                    <td>Task Description</td>
                    <td><span class="badge badge-success">Received</span></td>
                    <td><button class="btn btn-web btn-sm">View Invoice</button></td>
                  </tr>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Full Name</td>
                    <td>Task Title</td>
                    <td>100$</td>
                    <td>Task Description</td>
                    <td><span class="badge badge-success">Received</span></td>
                    <td><button class="btn btn-web btn-sm">View Invoice</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane container fade" id="menu2">
              <h5 class="font-weight-bold text-web">Pending Funds</h5>
              <div class="border mb-2 web-border"></div>
              <table class="table table-hover">
                <thead class="bg-web text-white">
                  <tr>
                    <th>Date</th>
                    <th>Client Name</th>
                    <th>Task</th>
                    <th>Amount</th>
                    <th>Reason</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Full Name</td>
                    <td>Task Title</td>
                    <td>100$</td>
                    <td>Processing</td>
                    <td><span class="badge badge-warning">Pending</span></td>
                  </tr>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Full Name</td>
                    <td>Task Title</td>
                    <td>100$</td>
                    <td>Dispute from client</td>
                    <td><span class="badge badge-warning">Pending</span></td>
                  </tr>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Full Name</td>
                    <td>Task Title</td>
                    <td>100$</td>
                    <td>Task not completed yet</td>
                    <td><span class="badge badge-warning">Pending</span></td>
                  </tr>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Full Name</td>
                    <td>Task Title</td>
                    <td>100$</td>
                    <td>[Reason] - Sample Reason</td>
                    <td><span class="badge badge-warning">Pending</span></td>
                  </tr>
                  <tr>
                    <td>20, Jan 2020</td>
                    <td>Full Name</td>
                    <td>Task Title</td>
                    <td>100$</td>
                    <td>[Reason] - Sample Reason</td>
                    <td><span class="badge badge-warning">Pending</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div> <!-- End Col-md-6 -->


    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section>