<div class="main-banner text-center">
    <div class="banner-content">
        <h1 class="font-weight-bold m-0">Great Task</h1>
        <h1 class="m-0 mb-3">Greater Skill</h1>
        <div class="d-flex">
            <div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search input-icon"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search Keywords">
                </div>
            </div>
            <div class="ml-2 mr-2">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-map-marker-alt input-icon"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Location">
                </div>
            </div>
            <div>
                <button class="btn btn-web"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</div>

<section class="categories mt-4 mb-4">
    <div class="container">
        <h3 class="text-center font-weight-bold text-web">Popular Categories</h3>
        <div class="border web-border mx-auto"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="category-box text-center mt-3">
                    <a routerLink="/browse">
                        <i class="fas fa-sun box-background"></i>
                        <i class="fas fa-sun text-web"></i>
                        <div class="border category-border mx-auto mt-2 mb-2"></div>
                        <p class="m-0 title">Cleaning</p>
                        <p class="m-0 jobs-open">10 Jobs Open</p>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="category-box text-center mt-3">
                    <a routerLink="/browse">
                        <i class="fas fa-tree box-background"></i>
                        <i class="fas fa-tree text-web"></i>
                        <div class="border category-border mx-auto mt-2 mb-2"></div>
                        <p class="m-0 title">Gardening</p>
                        <p class="m-0 jobs-open">10 Jobs Open</p>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="category-box text-center mt-3">
                    <a routerLink="/browse">
                        <i class="fas fa-wrench box-background"></i>
                        <i class="fas fa-wrench text-web"></i>
                        <div class="border category-border mx-auto mt-2 mb-2"></div>
                        <p class="m-0 title">Handy Man</p>
                        <p class="m-0 jobs-open">10 Jobs Open</p>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="category-box text-center mt-3">
                    <a routerLink="/browse">
                        <i class="fas fa-tools box-background"></i>
                        <i class="fas fa-tools text-web"></i>
                        <div class="border category-border mx-auto mt-2 mb-2"></div>
                        <p class="m-0 title">Furniture Assembly</p>
                        <p class="m-0 jobs-open">10 Jobs Open</p>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="category-box text-center mt-3">
                    <a routerLink="/browse">
                        <i class="fas fa-users box-background"></i>
                        <i class="fas fa-users text-web"></i>
                        <div class="border category-border mx-auto mt-2 mb-2"></div>
                        <p class="m-0 title">Lawn Moving</p>
                        <p class="m-0 jobs-open">10 Jobs Open</p>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="category-box text-center mt-3">
                    <a routerLink="/browse">
                        <i class="fas fa-laptop box-background"></i>
                        <i class="fas fa-laptop text-web"></i>
                        <div class="border category-border mx-auto mt-2 mb-2"></div>
                        <p class="m-0 title">Snow Plowing</p>
                        <p class="m-0 jobs-open">10 Jobs Open</p>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="category-box text-center mt-3">
                    <a routerLink="/browse">
                        <i class="fas fa-baby-carriage box-background"></i>
                        <i class="fas fa-baby-carriage text-web"></i>
                        <div class="border category-border mx-auto mt-2 mb-2"></div>
                        <p class="m-0 title">Child Care</p>
                        <p class="m-0 jobs-open">10 Jobs Open</p>
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="category-box text-center mt-3">
                    <a routerLink="/browse">
                        <i class="fas fa-truck box-background"></i>
                        <i class="fas fa-truck text-web"></i>
                        <div class="border category-border mx-auto mt-2 mb-2"></div>
                        <p class="m-0 title">Moving</p>
                        <p class="m-0 jobs-open">10 Jobs Open</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="featured-tasks mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3 class="font-weight-bold text-web">Featured Tasks</h3>
                <div class="border web-border"></div>

                <div class="feature-box">
                    <div class="row p-3 bg-white border-bottom">
                        <div class="col-md col-img">
                            <img src="../../assets/img/cleaning.jpg" class="border rounded-lg w-100" alt="Task Image">
                        </div>
                        <div class="col-md-6">
                            <p class="m-0 text-dark text-truncate font-weight-bold">Need Cleaning Done</p>
                            <p class="m-0 text-web">Massimo Artemisis</p>
                            <p class="m-0"><i class="fas text-web fa-map-marker-alt"></i> California</p>
                        </div>
                        <div class="col-md-3">
                            <div class="float-right pt-3">
                                <p class="badge badge-default">Cleaning</p>
                                <i class="far fa-heart text-dark ml-2"></i>
                            </div>
                        </div>
                        <div class="col-md col-btn">
                            <button class="btn btn-outline-web mt-3 btn-sm">Bid Now</button>
                        </div>
                    </div>

                    <div class="row p-3 bg-white border-bottom">
                        <div class="col-md col-img">
                            <img src="../../assets/img/lawn_move.png" class="border rounded-lg w-100" alt="Task Image">
                        </div>
                        <div class="col-md-6">
                            <p class="m-0 text-dark text-truncate font-weight-bold">Need Lawn Moved</p>
                            <p class="m-0 text-web">Massimo Artemisis</p>
                            <p class="m-0"><i class="fas text-web fa-map-marker-alt"></i> California</p>
                        </div>
                        <div class="col-md-3">
                            <div class="float-right pt-3">
                                <p class="badge badge-default">Lawn Moving</p>
                                <i class="far fa-heart text-dark ml-2"></i>
                            </div>
                        </div>
                        <div class="col-md col-btn">
                            <button class="btn btn-outline-web mt-3 btn-sm">Bid Now</button>
                        </div>
                    </div>

                    <div class="row p-3 bg-white border-bottom">
                        <div class="col-md col-img">
                            <img src="../../assets/img/transport.png" class="border rounded-lg w-100" alt="Task Image">
                        </div>
                        <div class="col-md-6">
                            <p class="m-0 text-dark text-truncate font-weight-bold">Move Friend To Red Deer</p>
                            <p class="m-0 text-web">Massimo Artemisis</p>
                            <p class="m-0"><i class="fas text-web fa-map-marker-alt"></i> Canada</p>
                        </div>
                        <div class="col-md-3">
                            <div class="float-right pt-3">
                                <p class="badge badge-default">Moving</p>
                                <i class="far fa-heart text-dark ml-2"></i>
                            </div>
                        </div>
                        <div class="col-md col-btn">
                            <button class="btn btn-outline-web mt-3 btn-sm">Bid Now</button>
                        </div>
                    </div>

                    <div class="row p-3 bg-white border-bottom">
                        <div class="col-md col-img">
                            <img src="../../assets/img/dish_washer.jpg" class="border rounded-lg w-100" alt="Task Image">
                        </div>
                        <div class="col-md-6">
                            <p class="m-0 text-dark text-truncate font-weight-bold">Fix Dish Washer</p>
                            <p class="m-0 text-web">Massimo Artemisis</p>
                            <p class="m-0"><i class="fas text-web fa-map-marker-alt"></i> California</p>
                        </div>
                        <div class="col-md-3">
                            <div class="float-right pt-3">
                                <p class="badge badge-default">Furniture Assembly</p>
                                <i class="far fa-heart text-dark ml-2"></i>
                            </div>
                        </div>
                        <div class="col-md col-btn">
                            <button class="btn btn-outline-web mt-3 btn-sm">Bid Now</button>
                        </div>
                    </div>

                    <button class="btn btn-web mx-auto d-block btn-sm m-2">View More</button>
                </div>

            </div>
            <div class="col-md-3">
                <h3 class="font-weight-bold text-web">Recent Tasks</h3>
                <div class="border web-border"></div>
                <div class="recent-box p-3">
                    <img src="../../assets/img/cleaning.jpg" class="border rounded-lg w-100" alt="Task Image">
                    <h6 class="mb-0 mt-2 font-weight-bold text-truncate">Need Cleaning Done</h6>
                    <p class="m-0 text-web">Massimo Artemisis</p>
                    <p class="m-0"><i class="fas fa-map-marker-alt text-web"></i> Sacramento, California</p>
                    <p class="text-justify mt-2 text-truncate">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna
                    </p>
                    <div>
                        <span class="badge badge-default mt-2">Cleaning</span>
                        <button class="btn btn-web float-right btn-sm mt-1">Bid Now</button>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="recent-box p-3">
                    <img src="../../assets/img/dish_washer.jpg" class="border rounded-lg w-100" alt="Task Image">
                    <h6 class="mb-0 mt-2 font-weight-bold">Fix Dish Washer</h6>
                    <p class="m-0 text-web">Massimo Artemisis</p>
                    <p class="m-0"><i class="fas fa-map-marker-alt text-web"></i> Sacramento, California</p>
                    <p class="text-justify mt-2 text-truncate">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna
                    </p>
                    <div>
                        <span class="badge badge-default mt-2">Furniture Assembly</span>
                        <button class="btn btn-web float-right btn-sm mt-1">Bid Now</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tasker-client" id="clientTaskerBox">
    <div class="container">
        <div class="row">
            <div class="col-md-6 tasker" #tasker>
                <div class="float-left">
                    <h1><i class="fas fa-user-cog"></i> I'M A TASKER</h1>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis
                        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="clearfix"></div>
                    <button class="btn btn-outline-web" (click)="showTaskerSteps()">Lets Get Started</button>
                </div>
            </div>

            <div class="col-md-6 client" #client>
                <div class="float-right">
                    <h1 class="float-right"><i class="fas fa-user"></i> I'M A CLIENT</h1>
                    <p class="text-justify float-right">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.
                        Duis
                        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint
                        occaecat cupidatat non proident.
                    </p>
                    <div class="clearfix"></div>
                    <button class="btn btn-outline-default float-right border" (click)="showClientSteps()">Lets Get
                        Started</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-it-works" id='howItWorks'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="client" #clientSteps>
                    <h3 class="text-center text-web font-weight-bold">How It Works? 3 Easy Steps!</h3>
                    <div class="border web-border mx-auto d-block"></div>
                    <p class="text-center mt-1">
                        Each month more than 7 million jobhunt turn to website in their search for work,
                        <br>making over 160,000 applications everyday.
                    </p>
                    <div class="d-flex justify-content-between">
                        <div class="p-2 text-center flex-fill">
                            <i class="fas fa-file-alt fa-3x p-2 text-web"></i>
                            <h4 class="text-dark font-weight-bold m-0">STEP-1</h4>
                            <div class="border mt-1 mb-1 border-danger w-75 mx-auto"></div>
                            <p class="m-0 font-weight-bold">Post Your Task</p>
                            <p class="text-muted">
                                Include necessary details to explain your task along with the images
                            </p>
                        </div>
                        <div class="p-2 text-center flex-fill">
                            <i class="fas fa-arrow-right fa-2x pt-5 text-web"></i>
                        </div>
                        <div class="p-2 text-center flex-fill">
                            <i class="fas fa-check fa-3x p-2 text-web"></i>
                            <h4 class="text-dark font-weight-bold m-0">STEP-2</h4>
                            <div class="border mt-1 mb-1 border-danger w-75 mx-auto"></div>
                            <p class="m-0 font-weight-bold">Select Preferred Tasker</p>
                            <p class="text-muted">
                                Talk to tasker and confirm tasker's details. And select the one meeting your needs.
                            </p>
                        </div>
                        <div class="p-2 text-center flex-fill">
                            <i class="fas fa-arrow-right fa-2x pt-5 text-web"></i>
                        </div>
                        <div class="p-2 text-center flex-fill">
                            <i class="fas fa-hand-holding-usd fa-3x p-2 text-web"></i>
                            <h4 class="text-dark font-weight-bold m-0">STEP-3</h4>
                            <div class="border mt-1 mb-1 border-danger w-75 mx-auto"></div>
                            <p class="m-0 font-weight-bold">Payment</p>
                            <p class="text-muted">
                                Final payment is made to the tasker once the task is complete.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tasker d-none" #taskerSteps>
                    <h3 class="text-center text-web font-weight-bold">How It Works? 3 Easy Steps!</h3>
                    <div class="border web-border mx-auto d-block"></div>
                    <p class="text-center mt-1">
                        Each month more than 7 million jobhunt turn to website in their search for work,
                        <br>making over 160,000 applications everyday.
                    </p>
                    <div class="d-flex justify-content-between">
                        <div class="p-2 text-center flex-fill">
                            <i class="fas fa-search fa-3x p-2 text-web"></i>
                            <h4 class="text-dark font-weight-bold m-0">STEP-1</h4>
                            <div class="border mt-1 mb-1 border-danger w-75 mx-auto"></div>
                            <p class="m-0 font-weight-bold">Bid For Task</p>
                            <p class="text-muted">
                                Search & bid on the tasks meeting your skills
                            </p>
                        </div>
                        <div class="p-2 text-center flex-fill">
                            <i class="fas fa-arrow-right fa-2x pt-5 text-web"></i>
                        </div>
                        <div class="p-2 text-center flex-fill">
                            <i class="fas fa-address-card fa-3x p-2 text-web"></i>
                            <h4 class="text-dark font-weight-bold m-0">STEP-2</h4>
                            <div class="border mt-1 mb-1 border-danger w-75 mx-auto"></div>
                            <p class="m-0 font-weight-bold">Connect with Client</p>
                            <p class="text-muted">
                                Talk to client and confirm client's details.
                            </p>
                        </div>
                        <div class="p-2 text-center flex-fill">
                            <i class="fas fa-arrow-right fa-2x pt-5 text-web"></i>
                        </div>
                        <div class="p-2 text-center flex-fill">
                            <i class="fas fa-hand-holding-usd fa-3x p-2 text-web"></i>
                            <h4 class="text-dark font-weight-bold m-0">STEP-3</h4>
                            <div class="border mt-1 mb-1 border-danger w-75 mx-auto"></div>
                            <p class="m-0 font-weight-bold">Get Paid</p>
                            <p class="text-muted">
                                You get paid immediately when task is signed off.
                            </p>
                        </div>
                    </div>
                </div> <!-- End Tasker -->
            </div>
        </div>
        <div class="clearfix"></div>
        <button class="btn btn-outline-web mx-auto d-block">Register Now</button>
    </div>
</section>

<section class="stats text-center">
    <div class="bg-color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-white font-weight-bold">dgiini Stats</h3>
                    <div class="border web-border mx-auto"></div>
                    <p class="mt-1 text-white">
                        Here we list our site stats & how many people he have helped find a job and
                        companies have found recruits. Have a look!
                    </p>
                </div>

                <div class="col-md-3">
                    <div class="stat-box">
                        <h1 class="font-weight-bold text-white mx-auto d-block">200+</h1>
                        <h4 class="text-white"><i class="fas fa-file-alt"></i> Tasks Posted</h4>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="stat-box mx-auto">
                        <h1 class="font-weight-bold text-white mx-auto d-block">120+</h1>
                        <h4 class="text-white"><i class="fas fa-check"></i> Tasks Filled</h4>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="stat-box mx-auto">
                        <h1 class="font-weight-bold text-white mx-auto d-block">100+</h1>
                        <h4 class="text-white"><i class="fas fa-users-cog"></i> Experts</h4>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="stat-box mx-auto">
                        <h1 class="font-weight-bold text-white mx-auto d-block">150+</h1>
                        <h4 class="text-white"><i class="fas fa-users"></i> Members</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="testimonials">
    <div class="container">
        <h3 class="text-center text-web font-weight-bold">Don't just take our word for it</h3>
        <div class="border web-border mx-auto"></div>
        <p class="text-center mt-2 mb-3">See how Taskers are saving the day for people like you.</p>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators d-none">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item carousel-item active">
                    <div class="img-box"><img src="../../assets/img/user.jpg" alt=""></div>
                    <p class="testimonial">Tasker was very polite and had my items done in a really reasonable Timely
                        manor! I would hire him again for any future jobs I may need done! </p>
                    <p class="overview m-0">
                        <b>Full Name</b> 18, Jan 2020 <span class="badge badge-secondary">Cleaning</span>
                    </p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item"><i class="fas fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="item carousel-item">
                    <div class="img-box"><img src="../../assets/img/user.jpg" alt=""></div>
                    <p class="testimonial">Tasker was very polite and had my items done in a really reasonable Timely
                        manor! I would hire him again for any future jobs I may need done! </p>
                    <p class="overview m-0">
                        <b>Full Name</b> 18, Jan 2020 <span class="badge badge-secondary">Cleaning</span>
                    </p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item"><i class="fas fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="item carousel-item">
                    <div class="img-box"><img src="../../assets/img/user.jpg" alt=""></div>
                    <p class="testimonial">Tasker was very polite and had my items done in a really reasonable Timely
                        manor! I would hire him again for any future jobs I may need done! </p>
                    <p class="overview m-0">
                        <b>Full Name</b> 18, Jan 2020 <span class="badge badge-secondary">Cleaning</span>
                    </p>
                    <div class="star-rating">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item"><i class="fas fa-star"></i></li>
                            <li class="list-inline-item"><i class="fas fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</section>

<section class="faq">
    <div class="container">
        <h3 class="text-web font-weight-bold">Frequently Asked Questions?</h3>
        <div class="border web-border"></div>
        <div class="row">
            <div class="col-md-12">

                <div class="question-box">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <a class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Collapsible Group Item #1
                                    </a>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf
                                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                    laborum eiusmod.
                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda
                                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                    nesciunt sapiente ea
                                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                                    sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <a class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Collapsible Group Item #2
                                    </a>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf
                                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                    laborum eiusmod.
                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda
                                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                    nesciunt sapiente ea
                                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                                    sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <a class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Collapsible Group Item #3
                                    </a>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf
                                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                    laborum eiusmod.
                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda
                                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                    nesciunt sapiente ea
                                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                                    sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <a class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseOne">
                                        Collapsible Group Item #4
                                    </a>
                                </h2>
                            </div>

                            <div id="collapseFour" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf
                                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                    laborum eiusmod.
                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda
                                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                    nesciunt sapiente ea
                                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                                    sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <a class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
                                        Collapsible Group Item #5
                                    </a>
                                </h2>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf
                                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                    laborum eiusmod.
                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda
                                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                    nesciunt sapiente ea
                                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                                    sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <a class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Collapsible Group Item #6
                                    </a>
                                </h2>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf
                                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                    laborum eiusmod.
                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda
                                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                    nesciunt sapiente ea
                                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                                    sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-3 d-none">
                <div class="suggested-tasker p-3 text-center mb-3">
                    <img src="../../assets/img/user.jpg" class="border rounded-circle" alt="Tasker Image">
                    <div class="border web-border mt-2 w-25 mx-auto"></div>
                    <h6 class="mb-0 mt-1 font-weight-bold">Augusta Silva</h6>

                    <p class="m-0 badge badge-web">Cleaning</p>
                    <p class="text-justify mt-2">
                        Without dgiini i'd be homeless, the found me a job and
                        got me sorted out quickly with everything! Can't quite
                        beleive the service level they offer!
                    </p>
                    <div class="clearfix"></div>
                </div>

                <div class="suggested-tasker p-3 text-center mb-3">
                    <img src="../../assets/img/user.jpg" class="border rounded-circle" alt="Tasker Image">
                    <div class="border web-border mt-2 w-25 mx-auto"></div>
                    <h6 class="mb-0 mt-1 font-weight-bold">Tasker Name</h6>

                    <p class="m-0 badge badge-web">Gardening</p>
                    <p class="text-justify mt-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-web p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4 class="text-white font-weight-bold">Are you skilled?</h4>
                <p class="text-white text-justify">
                    For everything you need to post a job & receive the best candidate by
                    visiting our employer website. We will help you find the best candidate
                    to fulfill your needs.
                </p>
            </div>
            <div class="col-md-4">
                <img class="float-md-right" src="../../assets/img/preview.png" alt=""
                    style="width: 150px;height:100px; border-radius:10px">
                <button class="btn d-none btn-default border-white bg-white mt-4 float-right text-dark">Lets Get
                    Started</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>