<section class="page-wrapper">
  <div class="page-heading text-white">
    <div class="container">
      <h3>User Statistics</h3>
      <p>Monitor your activity and performance while using dgiini.</p>
      <i class="fas fa-chart-bar shadow-icon"></i>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="dginni-box mt-4">
          <h5 class="heading text-dark">
            Task proficiency
          </h5>
          <div class="border mt-3 mb-3"></div>
          <div class="content">
            <p class="m-0 text-muted">COMPLETED TASKS</p>
            <div class="progress">
              <div class="progress-bar" style="width:100%">100%</div>
            </div>
        
            <p class="m-0 mt-3 text-muted">ON TIME TASKS</p>
            <div class="progress">
              <div class="progress-bar" style="width:70%">70%</div>
            </div>
        
            <p class="m-0 mt-3 text-muted">ON BUDGET TASKS</p>
            <div class="progress">
              <div class="progress-bar" style="width:90%">90%</div>
            </div>
          </div>
        </div>

        <div class="dginni-box scroll mt-4">
          <h5 class="heading text-dark">
            Earning Per Skill
          </h5>
          <div class="border mt-3 mb-3"></div>
          <div class="content">
            <p class="m-0 mt-1 mb-1">
              <span class="badge badge-warning">1</span> Cleaning
              <span class="float-right font-weight-bold">1000 $</span>
            </p>
            <hr class="m-0">
            <p class="m-0 mt-1 mb-1">
              <span class="badge badge-secondary">2</span> Gardening
              <span class="float-right font-weight-bold">900 $</span>
            </p>
            <hr class="m-0">
            <p class="m-0 mt-1 mb-1">
              <span class="badge badge-secondary">3</span> Handy Man
              <span class="float-right font-weight-bold">800 $</span>
            </p>
            <hr class="m-0">
            <p class="m-0 mt-1 mb-1">
              <span class="badge badge-secondary">4</span> Furniture Assembly
              <span class="float-right font-weight-bold">700 $</span>
            </p>
            <hr class="m-0">
            <p class="m-0 mt-1 mb-1">
              <span class="badge badge-secondary">5</span> Lawn Moving
              <span class="float-right font-weight-bold">100 $</span>
            </p>
            <hr class="m-0">
            <p class="m-0 mt-1 mb-1">
              <span class="badge badge-secondary">6</span> Snow Plowing
              <span class="float-right font-weight-bold">100 $</span>
            </p>
            <hr class="m-0">
            <p class="m-0 mt-1 mb-1">
              <span class="badge badge-secondary">7</span> Child Care
              <span class="float-right font-weight-bold">100 $</span>
            </p>
            <hr class="m-0">
            <p class="m-0 mt-1 mb-1">
              <span class="badge badge-secondary">8</span> Moving
              <span class="float-right font-weight-bold">100 $</span>
            </p>

          </div>
        </div>
      </div> <!-- End Col-md-4 -->

      <div class="col-md-8">
        <div class="dginni-box charts text-dark mt-4">
          <h5 class="heading text-dark">
            Bid conversion
          </h5>
          <div class="border mt-3 mb-3"></div>
          <canvas id="bids_chart"></canvas>
        </div>

        <div class="row">
          <div class="col-md-6">

            <div class="dginni-box mt-4">
              <h5 class="heading text-dark">
                Bids Per Milestone
              </h5>
              <div class="border mt-3 mb-3"></div>
            
              <div class="content text-center">
                <h2 class="text-web font-weight-bold">25.00</h2>
                <p class="text-muted">THE AVERAGE NUMBER OF BIDS YOU PLACE BEFORE REACHING A MILESTONE</p>
              </div>
            </div>

            

          </div>

          <div class="col-md-6">
            <div class="dginni-box scroll mt-4">
              <h5 class="heading text-dark">
                Rating Per Skill
              </h5>
              <div class="border mt-3 mb-3"></div>
              <div class="content">
                <p class="m-0 mt-1 mb-1">
                  <span class="badge badge-warning">1</span> Cleaning
                  <span class="float-right font-weight-bold"><i class="fas fa-star"></i> 5</span>
                </p>
                <hr class="m-0">
                <p class="m-0 mt-1 mb-1">
                  <span class="badge badge-secondary">2</span> Gardening
                  <span class="float-right font-weight-bold"><i class="fas fa-star"></i> 5</span>
                </p>
                <hr class="m-0">
                <p class="m-0 mt-1 mb-1">
                  <span class="badge badge-secondary">3</span> Handy Man
                  <span class="float-right font-weight-bold"><i class="fas fa-star"></i> 5</span>
                </p>
                <hr class="m-0">
                <p class="m-0 mt-1 mb-1">
                  <span class="badge badge-secondary">4</span> Furniture Assembly
                  <span class="float-right font-weight-bold"><i class="fas fa-star"></i> 4.7</span>
                </p>
                <hr class="m-0">
                <p class="m-0 mt-1 mb-1">
                  <span class="badge badge-secondary">5</span> Lawn Moving
                  <span class="float-right font-weight-bold"><i class="fas fa-star"></i> 4.5</span>
                </p>
                <hr class="m-0">
                <p class="m-0 mt-1 mb-1">
                  <span class="badge badge-secondary">6</span> Snow Plowing
                  <span class="float-right font-weight-bold"><i class="fas fa-star"></i> 4.2</span>
                </p>
                <hr class="m-0">
                <p class="m-0 mt-1 mb-1">
                  <span class="badge badge-secondary">7</span> Child Care
                  <span class="float-right font-weight-bold"><i class="fas fa-star"></i> 3.5</span>
                </p>
                <hr class="m-0">
                <p class="m-0 mt-1 mb-1">
                  <span class="badge badge-secondary">8</span> Moving
                  <span class="float-right font-weight-bold"><i class="fas fa-star"></i> 3.1</span>
                </p>
            
              </div>
            </div>
          </div>
        </div>
      
        
      </div>
   

    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section>